.main_body{
    font-family: sans-serif;
    /* color is font color */
    color: white; 
    max-width: 10cm;
    min-height: 5cm;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(92, 149, 255);
    
}

body {
    margin: 0px;
    margin-top: 0.0cm;
    background-color: rgb(31, 31, 31);

}

.entire-top-toggle{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.left-side-top-toggle{
    grid-column-start: 1;
    grid-column-end: 2;
}

.right-side-top-toggle{
    grid-column-start: 2;
    grid-column-end: 3;
}

.display-component-true{
    border: 0;
    background-color: rgb(31, 31, 31);
    color: rgb(92, 149, 255);
    font-size: x-large;
    padding: 10px;
    width: 100%;
    border-bottom: 3px solid rgb(92, 149, 255);
}

.display-component-false{
    border: 0;
    color: rgb(144, 144, 144);
    background-color: transparent;
    font-size: x-large;
    padding: 10px;
    width: 100%;
    border-bottom: 3px solid rgb(144, 144, 144);
}


.display-component-false:hover{
    cursor: pointer;
    transition: 0.3s;
    background-color: rgba(117, 117, 117, 0.246);
    color: white;
    border-color: white;
}


.display-content-false{
    display: none;
}