.entire-timer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    justify-items: center;
    margin: 0;
    font-size: x-large;
    background-color: rgb(31, 31, 31);
}

.left-side{
    grid-column-start: 1;
    grid-column-end: 2;
}

.right-side{
    grid-column-start: 2;
    grid-column-end: 3;
}

.center-content{
    grid-column-start: 1;
    grid-column-end: 3;
}